@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="assets/logo.svg"/>
                    <span class="title">图书管理系统</span>
                </a>
            </div>
            <div class="desc">基于asp.net core</div>
        </div>
        @Body
    </div>
    <FooterView Copyright="2022 Ant Design Blazor" Links="Links"></FooterView>
</div>

@code {

    private LinkItem[] Links { get; } =
        {
            new()
            {
                Key = "Ant Design Blazor",
                Title = "Ant Design Blazor",
                Href = "https://antblazor.com",
                BlankTarget = true
            },
            new()
            {
                Key = "github",
                Title = (RenderFragment) (@<Icon Type="github"/>),
                Href = "https://github.com/SinnoSong/Library",
                BlankTarget = true
            },
            new()
            {
                Key = "Blazor",
                Title = "Blazor",
                Href = "https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor?WT.mc_id=DT-MVP-5003987",
                BlankTarget = true
            }
        };

}