@page "/account/settings"
@inject IUserService UserService


<PageContainer Title="Users">
    <Content>
        <AntList TItem="UserInfoListItem" ItemLayout="ListItemLayout.Horizontal" DataSource="_passwordData">
            <ListItem Actions="_modifyPasswordActions">
                <ListItemMeta Description="@context.Description">
                    <TitleTemplate>@context.Title</TitleTemplate>
                </ListItemMeta>
            </ListItem>
        </AntList>
        <AntList TItem="UserInfoListItem" ItemLayout="ListItemLayout.Horizontal" DataSource="_emailData">
            <ListItem Actions="_modifyEmailActions">
                <ListItemMeta Description="@context.Description">
                    <TitleTemplate>@context.Title</TitleTemplate>
                </ListItemMeta>
            </ListItem>
        </AntList>
    </Content>
</PageContainer>

@code {

    private readonly List<UserInfoListItem> _passwordData = new()
    {
        new() {Title = "账号密码", Description = "当前账号密码"},
    };

    private readonly List<UserInfoListItem> _emailData = new()
    {
        new() {Title = "Email", Description = "当前Email"}
    };


    private static readonly RenderFragment ModifyPassword = @<a href="/account/settings/ChangePassword">修改密码</a>;

    private static readonly RenderFragment ModifyEmail = @<a href="/account/settings/ChangeEmail">修改邮箱</a>;

    private readonly RenderFragment[] _modifyPasswordActions = {ModifyPassword};
    private readonly RenderFragment[] _modifyEmailActions = {ModifyEmail};
}