@page "/account/center/UpdateUserGrade"
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject MessageService MessageService

<PageContainer Title="修改读者等级">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Account</BreadcrumbItem>
            <BreadcrumbItem>UpdateUserGrade</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Form OnFinish="HandleUpdate">
                <FormItem>
                    <Input @bind-Value="_userId" Placeholder="请输入用户Id" DefaultValue="context.Title"/>
                </FormItem>
                <FormItem>
                    <AutoComplete @bind-Value="_grade" Options="@_grades" Placeholder="请选择等级"/>
                </FormItem>
                <FormItem>
                    <Button Type="submit">修改读者等级</Button>
                </FormItem>
                <Button OnClick="@(() => NavigationManager.NavigateTo("/account/center"))">返回列表</Button>
            </Form>
        </Card>
    </ChildContent>
</PageContainer>

@code {
    private Guid _userId;
    private byte _grade = 1;
    private readonly List<byte> _grades = new() {1, 2, 3, 4};

    private async Task HandleUpdate()
    {
        var response = await UserService.UpdateUserGrade(_userId, _grade);
        if (response.Success)
        {
            NavigationManager.NavigateTo("/account/center");
        }
        else
        {
            await MessageService.Error(response.Message);
        }
    }

}