@page "/account/center/UpdateUserGrade/{id}"
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject MessageService MessageService

<PageContainer Title="修改读者等级">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Account</BreadcrumbItem>
            <BreadcrumbItem>UpdateUserGrade</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Space>
                <SpaceItem>
                    <AutoComplete @bind-Value="@_grade" Options="@_grades"/>
                </SpaceItem>
                <SpaceItem>
                    <Button OnClick="HandleUpdate">修改读者等级</Button>
                </SpaceItem>
                <SpaceItem>
                    <Button OnClick="@(() => NavigationManager.NavigateTo("/account/center"))">返回列表</Button>
                </SpaceItem>
            </Space>
        </Card>
    </ChildContent>
</PageContainer>

@code {

    [Parameter]
    public string Id { get; set; } = null!;

    private string _grade;

    private readonly List<byte> _grades = new() {1, 2, 3, 4};

    private async Task HandleUpdate()
    {
        var response = await UserService.UpdateUserGrade(new Guid(Id), byte.Parse(_grade));
        if (response.Success)
        {
            NavigationManager.NavigateTo("/account/center");
        }
        else
        {
            await MessageService.Error(response.Message);
        }
    }

}