@page "/categories/create"
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject MessageService MessageService

<PageContainer Title="创建分类">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Category</BreadcrumbItem>
            <BreadcrumbItem>Create</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Form Model="_category" OnFinish="HandleBookCreate">
                <FormItem Label="分类名称">
                    <Input @bind-Value="@_category.Name"/>
                </FormItem>
                <FormItem Label="简介">
                    <Input @bind-Value="@_category.Summary"/>
                </FormItem>
                <FormItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">创建分类</Button>
                </FormItem>
                <Button OnClick="@(() => NavigationManager.NavigateTo("/categories"))">返回列表</Button>
            </Form>
        </Card>
    </ChildContent>
</PageContainer>

@code {
    private readonly CategoryCreateDto _category = new();

    private async Task HandleBookCreate()
    {
        var response = await CategoryService.CreateAsync(_category);
        if (response.Success)
        {
            NavigationManager.NavigateTo("/categories");
        }
        else
        {
            await MessageService.Error(response.Message);
        }
    }

}