@page "/categories"
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject ModalService ModalService
@inject MessageService MessageService

<PageContainer Title="Categories">
    <Content>
        <Card>
            <Button OnClick="@(() => NavigationManager.NavigateTo("/categories/create"))">创建分类</Button>
        </Card>
        <Card>
            <Form Model="_parameters" Layout="Inline" OnFinish="OnFinish">
                <FormItem Label="排序字段">
                    <AutoComplete @bind-Value="@context.Sort" Options="_sortOptions"/>
                </FormItem>
                <FormItem Label="搜索内容">
                    <Input @bind-Value="@context.Search"/>
                </FormItem>
                <FormItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        查询
                    </Button>
                </FormItem>
            </Form>
        </Card>
    </Content>
    <ChildContent>
        <CategoryTable CategoryDtos="_categories" OnDelete="Delete"></CategoryTable>
    </ChildContent>
</PageContainer>


@code {
    private readonly List<string> _sortOptions = new() {"id", "name"};
    private readonly CategoryQueryParameters _parameters = new();
    private List<CategoryDto> _categories = new();

    protected override async Task OnInitializedAsync()
    {
        await OnFinish();
    }

    private async Task OnFinish()
    {
        var result = await CategoryService.GetAsync(_parameters);
        if (result.Success)
        {
            _categories = result.Data;
        }
        else
        {
            await MessageService.Error(result.Message);
        }
    }

    private Task Delete(Guid bookId)
    {
        var book = _categories.First(q => q.Id == bookId);
        ModalService.Confirm(new ConfirmOptions()
        {
            Title = "删除类别",
            Content = $"是否删除Id为：{book.Id}的类别?",
            OnOk = async _ =>
            {
                var response = await CategoryService.DeleteAsync(bookId.ToString());
                if (response.Success)
                {
                    await OnInitializedAsync();
                }
                else
                {
                    await MessageService.Error(response.Message);
                }
            },
            OkType = "danger",
        });
        return Task.CompletedTask;
    }

}